/*@import url("../stylesheets/bootstrap.min.css");*/
	
body {
       	background-color: #81DAF5;
		/*background-image: url('../img/konstanz_transparent.png');*/
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        font: calibri;
		color: #555753;	
		padding-top: 40px; 	
}

@media screen and (max-width: 768px) {
   	body { 
    	padding-top: 0px; 
    }
}

.jumbotron{
	color: "grey";
	font-family: "Calibri";
	font-size: 20px;
	text-align: left;
}

body h1{
	color: #0B3861;
	font-family: "Calibri";
	font-size: 60px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
}

body h2{
	color:#0B3861;
	font-family: "Calibri";
	font-size: 40px;
	text-align: left;
	font-weight: bold;
}


body p{
	font-family: "Calibri";
	font-size: 25px;
	text-align: block;
	/*color: #000000;*/
}



#standort{
	background-color: #CEECF5;
	font-family: "Calibri";
	font-size: 30px;
	text-align-last: block;
	font-weight: bold;
	color: #0B3861;
	width:100%;
	
	

}

#anfahrt{
	background-color: #CEECF5;
	width: 100%;
	
}

body #box{
	-moz-box-shadow: 500px 500px 500px 200px #999;
	-webkit-box-shadow: 500px 500px 500px 200px #999;
	box-shadow: 500px 500px 500px #999;
	/*color: #555753;*/
}

.grey-box {
	color: white;
	background-color: black;
	opacity: .7;
	height: 100%;
}

.navbar-brand{
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	float: none;
}

#events{
	background-color:#0489B1;
}

#index{
	text-align: left;
	float: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: auto;
	margin-top: 50px;
	width: 100%;
	left: 0px;
	min-width: 100%;
	
	
}

#index2{
	
	background-color: #01A9DB;
	
}

#buchen{
	/*margin-top: 35%;
	width: 100%;*/
	background-color: #81DAF5;
}


.navbar{
	margin-bottom: 0px !important;
}

.innerContainer{
	margin-left: 10%;
	margin-right: 10%;
}

.dropdown{
	position: right;
}
